/* resetting CSS styleing */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
}

/* reset end */

/* General CSS styling */

body {
	color: #777777;
	background-color: seashell;
	background-image: url("../images/folk-pattern.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {

}

main {

}

section {

}

article {
	
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	line-height: 40px;
}

h2 {

}

h3 {

}

p {
	line-height: 32px;
	padding: 10px 0px 10px 0px;
}

label {
	font-size: 18px;
}

input {
	color: #777777;
	padding: 6px;
	font-size: 16px;
}

a {

}

img {

}

.wrapper-main {
	max-width: 900px;
	margin: 40px 15% 100px 15%;
	padding: 30px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	min-height: calc(100vh - 270px);
}

.title {
	color: #4aaaa5;
	margin-bottom: 30px;
}

.content {
    border-top: 3px solid #cccccc;
    padding-top: 15px;
}

.footer {
	right: 0;
	left: 0;
    bottom: 0;
    position: relative;
    background-color: #666666;
	height: 60px;
	border-top: 10px solid #4aaaa5;
}

.footer-copyright {
	position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cccccc;
}

/* .display-row {
	display: flex;
} */

/* General styling end */

/* navigation bar css styling */

.head {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

.nav-bar {
	max-width: 960px;
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-header {
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 20px;
}

.nav-items {
	width: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-items a {
	color: #777777;
	text-decoration: none;
	font-size: 16px;
}

.nav-bar .about-link {
	/* border-right: 2px solid #666666; */
}

.nav-bar .contact-link {
	/* border-right: 2px solid #666666; */
}

.nav-bar .portfolio-link {
	
}

.vertical-border-line {
	border-right: 1px solid #cccccc;
	height: 20px;
}

/* navigation bar styling end */

/* About page css styling */

.profile-picture-and-bio {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.profile-picture-and-bio img {
	margin: 20px 25px 20px 0px;
}

.biography {

}

/* About page styling end */

/* Contact page css styling */

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form .label {
	margin-top: 15px;
}

.contact-form .input {
	margin-top: 10px;
}

.contact-form .name-label {

}

.contact-form .name-input {
	
}

.contact-form .email-label {

}

.contact-form .email-input {

}

.contact-form .message-label {

}

.contact-form .message-input {
	height: 200px;
}

.contact-form .button {
	align-self: flex-start;
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	margin-top: 20px;
	border-width: 0px;
	cursor: pointer;
}

/* Contact page styling end */

/* Portfolio page CSS styling */

.content-portfolio {
	padding-top: 35px;
}

.portfolio-display-row {
	display: flex;
}

.project {
	margin-right: 40px;
}

.project-link {
	text-decoration: none;
}

.project-image {

}

.project-title {
	position: relative;
	bottom: 60px;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 15px;
	text-align: center;
}

/* Portfolio page styling end */

/* Media Queries */

@media only screen and (max-width: 980px) {
	.wrapper-main {
		width: 70%;
		margin: 40px 15% 100px 15%;
		padding: 30px;
	}

	.nav-bar {
		width: 77%;
		margin-right: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.profile-picture-and-bio {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 890px) {
	.wrapper-main {
		width: 70%;
		margin: 40px 10% 100px 10%;
		padding: 30px;
	}

	.nav-bar {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		/* justify-content: space-between; */
		align-items: center;
	}

	.nav-items {
		margin: 20px 0 20px 0;
	}

	.profile-picture-and-bio {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		align-items: center;
	}
	
}

/* @media screen and (max-width: 640px) {
	.wrapper-main {
		width: 70%;
		margin: 40px 10% 100px 10%;
		padding: 30px;
	}

	.nav-bar {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		/* justify-content: space-between; */
/*		align-items: center;
	}

	.nav-items {
		margin: 20px 0 20px 0;
	}

	.profile-picture-and-bio {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
/*		align-items: center;
	}
} */

@media screen and (max-width: 640px) {
	.wrapper-main {
		width: 80%;
		margin: 40px 5% 100px 5%;
		padding: 30px;
	}

	.nav-bar {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		/* justify-content: space-between; */
		align-items: center;
	}

	.nav-items {
		margin: 20px 0 20px 0;
	}

	.profile-picture-and-bio {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		align-items: center;
	}
		

}



/* Media Queries end */